:root {
  --color-light-brown: #ba8554;
  --color-orange-brown: #a14f03;
  --color-white: #ffffff;
  --color-grey: #777777;
  --color-black: #000000;
  --color-off-white: #eaeaeac9;

  --color-brown-gradient: linear-gradient(#ba8554, #000000);
  --color-brown-gradient: linear-gradient(#c3956a, #a14f03);

  --ff-primary: "Be Vietnam Pro", sans-serif;

  --font-weight-bold: 800;
  --font-weight-semi-bold: 700;
  --font-weight-medium: 400;
  --font-weight-light: 300;

  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-28: 1.75rem;
  --font-size-36: 2.25rem;
  --font-size-40: 2.5rem;
  --font-size-50: 3.125rem;

  --space-10: 0.625rem;
  --space-15: 0.938rem;
  --space-25: 1.563rem;
  --space-30: 1.875rem;
  --space-42: 2.625rem;
  --space-50: 3.125rem;
  --space-55: 3.438rem;
  --space-70: 4.375rem;
  --space-80: 5rem;
  --space-100: 6.25rem;
  --space-150: 9.375rem;
  --space-200: 12.5rem;
  --space-270: 17.313rem;
  --space-300: 18.75rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol,
li,
a {
  list-style-type: none;
  text-decoration: none;
}
.radio-group fieldset {
  border: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  font-family: var(--ff-primary);
}
html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-size: var(--font-size-50);
  font-weight: var(--font-weight-bold);
  background-size: 100%;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  word-spacing: 10px;
  letter-spacing: 10px;
  padding-top: var(--space-42);
}

.primary-navigation {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #222222;
  height: var(--space-100);
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.logo {
  width: 4rem;
  padding-left: 1rem;
}

.navbar-links {
  color: var(--color-white);
  font-size: var(--font-size-16);
  transition: all 0.3s ease;
  height: 100%;
  white-space: nowrap;
}
.navbar-links:hover {
  color: var(--color-grey);
  transition: all 0.3s ease;
}
.side-bar {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}
.side-bar-wrapper {
  background-color: #222222;
  height: 100vh;
  width: 50%;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  z-index: 999;
  translate: 100%;
  transition: 0.5s cubic-bezier(0.36, -0.01, 0, 0.77);
}

.side-bar-wrapper_visible {
  translate: 0%;
}

.side-bar-wrapper .navbar-links {
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;
  text-align: center;
  font-size: 2rem;
}

.hamburger-menu {
  width: var(--space-42);
  height: var(--space-42);
  right: 3%;
  top: 1%;
  display: none;
  cursor: pointer;
  position: absolute;
}

.close-menu {
  width: var(--space-42);
  height: var(--space-42);
  position: absolute;
  display: flex;
  right: 4%;
  top: 2%;
  cursor: pointer;
}

@media screen and (max-width: 70rem) {
  .hamburger-menu {
    display: flex;
  }
  .nav-list {
    display: none;
  }
  .close-menu {
    display: block;
  }
  button {
    scale: 1.3;
  }
}

.hero {
  background: linear-gradient(rgba(67, 67, 71, 0.5), rgba(28, 28, 30, 0.6)),
    url(images/landing-page-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--color-white);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
}

.heading {
  font-size: 5rem;
}

.sub-heading {
  text-align: center;
  font-size: var(--font-size-40);
}

.button {
  border: none;
  border-radius: var(--space-50);
  box-shadow: 0 1.125em 1em -1em var(--color-grey);
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  width: var(--space-270);
  height: var(--space-55);
  font-size: var(--font-size-20);
  font-weight: var(--font-weigth-medium);
  background-color: var(--color-white);
  margin: 4rem 0 4rem 0;
}
.margin-inline {
  margin-inline: auto;
}

.button a {
  color: var(--color-grey);
}
.form-button {
  background-color: var(--color-orange-brown);
  margin: 1rem 3rem;
  color: var(--color-white);
  color: var(--color-white);
  scale: 1.2;
}

.form-button a {
  color: var(--color-white);
}

button:hover {
  box-shadow: none;
  scale: 1.5;
  transition: all 0.35s ease-in-out;
}
.second-page {
  background-color: var(--color-off-white);
}
.second-page h1 {
  font-size: var(--font-size-50);
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: var(--space-80);
}

.second-page-content {
  display: grid;
  gap: var(--space-10);
  margin-left: var(--space-80);
}
.second-page .heading {
  color: var(--color-orange-brown);
}

.second-page-content .sub-heading {
  color: var(--color-orange-brown);
  text-align: left;
}
.second-page-content p {
  font-size: var(--font-size-20);
  color: var(--color-grey);
  font-weight: var(--font-weight-light);
  margin-top: var(--space-30);
}
.travel-img-container {
  align-self: baseline;
  display: grid;
}
.travel-img-card img {
  max-width: 50%;
  border-radius: var(--space-10);
}

.travel-img-card {
  border-radius: 4px;
}

.travel-img-card .image2 {
  margin-left: var(--space-200);
  margin-top: -3rem;
}
.travel-img-card .image3 {
  margin-top: -5rem;
  margin-left: var(--space-15);
}

@media (max-width: 70rem) {
  .second-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--space-55);
  }
  .second-page-content .sub-heading {
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: var(--space-15);
  }
  .travel-img-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 2.5rem;
  }
  .travel-img-card img {
    display: flex;
    max-width: 90%;
    border-radius: var(--space-10);
    margin: 0 !important;
    align-self: center;
  }
}

.third-page {
  background: linear-gradient(rgba(67, 67, 71, 0.5), rgba(28, 28, 30, 0.6)),
    url(images/3rd-page-image.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: var(--space-150);
}

.locations-card {
  margin: var(--space-30);
  height: 18.75rem;
  width: 15rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-grey);
  background-color: var(--color-white);
  text-align: center;
}
.locations-card img {
  max-width: var(--space-55);
  margin-inline: auto;
  margin-bottom: var(--space-25);
}
.locations-card h3 {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-bold);
}
.locations-card p {
  margin-top: var(--font-size-20);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
}

@media screen and (max-width: 70rem) {
  .third-page-wrapper {
    grid-template-columns: 1fr 1fr;
    scale: 1.5;
    padding: 2rem;
  }
}

@media screen and (max-width: 47rem) {
  .third-page-wrapper {
    grid-template-columns: 1fr;
    scale: 1.25;
    padding: 2.8rem 2rem;
  }
}

.fourth-page {
  background-color: var(--color-off-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fourth-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: var(--space-50);
  column-gap: 4.3rem;
}

.fourth-page-card {
  margin-inline: auto;
  height: 32.5rem;
  width: 21.25rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-grey);
  background-color: var(--color-white);
  box-shadow: 0 1em 0.5em -0.8em var(--color-grey);
}
.fourth-page h1 {
  color: var(--color-orange-brown);
}

.fourth-page-card img {
  max-width: 100%;
}

.fourth-page-card h3 {
  margin-top: var(--space-30);
  text-align: center;
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-medium);
}

.fourth-page-card p {
  text-align: center;
  margin-top: var(--space-10);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100%;
  line-height: 2rem;
}

@media screen and (max-width: 70rem) {
  .fourth-page-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .fourth-page-card {
    margin: var(--space-42);
  }
}
@media screen and (max-width: 47rem) {
  .fourth-page-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.fifth-page {
  background: linear-gradient(rgba(67, 67, 71, 0.5), rgba(28, 28, 30, 0.6)),
    url(images/fifth-page.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fifth-page-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  align-items: center;
}

.fifth-page-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  margin-block: 0;
  height: var(--space-300);
  margin-top: var(--space-100);
}

.fifth-page h1 {
  color: var(--color-white);
}

.image {
  max-width: 10%;
  border-radius: 50%;
  transform: translate(310px, 200px);
  z-index: 50;
}

.rect {
  margin-inline: auto;
  width: 80%;
  opacity: 0.8;
}

.fifth-page-card h3 {
  margin-top: var(--space-30);
  text-align: center;
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-medium);
  color: var(--color-grey);
  transform: translate(-80px, -270px);
}

.fifth-page-card p {
  text-align: center;
  margin-top: var(--space-10);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  margin-left: auto;
  margin-right: auto;
  color: var(--color-grey);
  max-width: 45%;
  transform: translate(100px, -270px);
}

@media screen and (max-width: 80rem) {
  .fifth-page-wrapper {
    width: 50rem;
    margin-top: var(--space-50);
  }

  .fifth-page-card {
    height: 8rem;
  }

  .fifth-page-card p {
    font-size: 0.8rem;
    max-width: 60%;
    transform: translate(50px, -220px);
  }
  .fifth-page-card h3 {
    font-size: var(--font-size-20);
    transform: translate(-80px, -220px);
  }
  .image {
    transform: translate(90px, 150px);
    max-width: 13%;
  }
  .rect {
    width: 100%;
  }
}

@media screen and (max-width: 50em) {
  .fifth-page-wrapper {
    scale: 0.7;
    margin-top: -3.125rem;
  }

  .fifth-page h1 {
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-semi-bold);
  }
}

.form {
  padding: 5rem 5rem;
  background-color: var(--color-orange-brown);
  left: -3.125rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--color-orange-brown);
  background-image: url(images/form-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.form-wrapper form {
  margin-inline: auto;
}

@media screen and (max-width: 80rem) {
  .field-wrapper {
    width: 100%;
    margin: 0;
    background: white;
    display: flex;
    align-items: center;
    left: -100px;
  }
}

.field-wrapper {
  display: flex;
  position: relative;
  width: 60%;
  background: url(images/Rectangle\ 16.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 31.5rem;
  flex-direction: column;
  margin-right: 60rem;
  opacity: 0.8;
}
.field-wrapper h1 {
  color: var(--color-orange-brown);
}

.field input::placeholder {
  color: var(--color-grey);
}

.field-set input[type="radio"] {
  width: var(--space-25);
  height: var(--space-25);
  border: 1px solid #999;
  border-radius: 50%;
  color: var(--color-grey);
  margin-left: var(--space-30);
}

.field-set label {
  color: var(--color-grey);
  margin-left: var(--space-30);
  font-size: var(--font-size-20);
}

.field input {
  margin-left: var(--space-30);
  min-width: 23.75rem;
  height: var(--space-55);
  border: none;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-orange-brown);
  padding: var(--space-15);
}

.radio-group {
  padding-top: var(--space-70);
  display: flex;
}
.radio-group fieldset {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
@media screen and (max-width: 60rem) {
  .field-wrapper {
    left: -13.75rem;
  }
  .field-wrapper h1 {
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-semi-bold);
    text-align: center;
    margin-left: 8rem;
  }
  .field-set label {
    color: var(--color-grey);
    margin-left: var(--space-25);
    font-size: var(--font-size-16);
  }
  .field input {
    margin-top: var(--space-30);
    margin-left: var(--space-10);
    min-width: var(--space-300);
    height: var(--space-42);
    padding: var(--space-10);
  }
}

.footer {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-logo {
  margin-top: var(--space-30);
  width: var(--space-80);
  margin-bottom: var(--space-30);
}

.footer-items {
  display: flex;
  gap: var(--space-150);
  justify-content: center;
  width: 100%;
  margin-bottom: var(--space-30);
}
.footer-links {
  color: var(--color-white);
}
.footer-links:hover {
  color: var(--color-grey);
  transition: all 0.3s ease;
}

@media screen and (max-width: 65rem) {
  .footer-items {
    flex-direction: column;
    gap: var(--space-25);
    align-items: center;
  }
}
