:root {
  --color-light-brown: #ba8554;
  --color-orange-brown: #a14f03;
  --color-white: #ffffff;
  --color-grey: #777777;
  --color-black: #000000;
  --color-off-white: #eaeaeac9;

  --color-brown-gradient: linear-gradient(#ba8554, #000000);
  --color-brown-gradient: linear-gradient(#c3956a, #a14f03);

  --ff-primary: "Be Vietnam Pro", sans-serif;

  --font-weight-bold: 800;
  --font-weight-semi-bold: 700;
  --font-weight-medium: 400;
  --font-weight-light: 300;

  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-28: 1.75rem;
  --font-size-36: 2.25rem;
  --font-size-40: 2.5rem;
  --font-size-50: 3.125rem;

  --font-size-p-heading: var(--font-size-20);
  --font-size-p-body: var(--font-size-16);
  --font-size-generall: var(--font-size-16);
  --font-size-genarall-heading: var(--font-size-36);
  --font-size-nav: var(--font-size-16);
  --font-size-button: var(--font-size-20);
  --font-size-landing-page-header: var(--font-size-50);
  --font-size-landing-page-secondary-header: var(--font-size-40);

  --space-10: 0.625rem;
  --space-15: 0.938rem;
  --space-25: 1.563rem;
  --space-30: 1.875rem;
  --space-42: 2.625rem;
  --space-50: 3.125rem;
  --space-55: 3.438rem;
  --space-70: 4.375rem;
  --space-80: 5rem;
  --space-100: 6.25rem;
  --space-150: 9.375rem;
  --space-200: 12.5rem;
  --space-270: 17.313rem;
  --space-300: 18.75rem;
}

html,
body {
  font-family: var(--ff-primary);
}

@media (max-width: 50rem) {
  :root {
    --font-size-landing-page-header: var(--font-size-50);
    --font-size-landing-page-secondary-header: var(--font-size-40);
    --font-size-body: var(--font-size-36);
    --font-size-nav: var(--fs-16);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li,
a {
  list-style-type: none;
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.primary-header {
  background-color: #222222;
  height: 5rem;
  display: flex;
  align-items: center;
}
.primary-navigation {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  align-items: center;
}
.logo {
  width: 4rem;
  padding-left: 1rem;
}

.navbar-links {
  color: var(--color-white);
  font-size: var(--font-size-16);
  display: flex;
  transition: all 0.3s ease;
  height: 100%;
  white-space: nowrap;
}
.navbar-links:hover {
  color: var(--color-grey);
  transition: all 0.3s ease;
}

.side-bar-wrapper {
  background-color: #222222;
  height: 100vh;
  width: 50%;
  right: 0;
  position: fixed;
  flex-direction: column;
  padding-top: 10rem;
  display: flex;
  z-index: 999;
  translate: 100%;
  transition: 0.5s cubic-bezier(0.36, -0.01, 0, 0.77);
}

.side-bar-wrapper_visible {
  translate: 0%;
}

.side-bar-wrapper .navbar-links {
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;
  text-align: center;
  font-size: 2rem;
}

.hamburger-menu {
  width: var(--space-42);
  height: var(--space-42);
  right: 3%;
  top: 1%;
  display: none;
  cursor: pointer;
  position: absolute;
}

.close-menu {
  width: var(--space-42);
  height: var(--space-42);
  position: absolute;
  display: flex;
  right: 4%;
  top: 2%;
  cursor: pointer;
}

@media screen and (max-width: 70em) {
  .hamburger-menu {
    display: flex;
  }
  .nav-list {
    display: none;
  }
  .close-menu {
    display: block;
  }
}

.hero {
  padding: var(--space-200) 0;
  background: linear-gradient(rgba(67, 67, 71, 0.5), rgba(28, 28, 30, 0.6)),
    url(images/landing-page-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: var(--space-30);
}

.hero-heading {
  font-size: var(--font-size-landing-page-header);
  margin-bottom: var(--space-25);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.hero-description {
  font-size: var(--font-size-50);
  color: var(--color-white);
  font-weight: var(--font-weigth-light);
  font-size: var(--font-size-landing-page-secondary-header);
}

.main-botton {
  font-size: var(--font-size-20);
  font-weight: var(--font-weigth-medium);
  border: none;
  border-radius: var(--space-50);
  background-color: var(--color-white);
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  width: var(--space-270);
  height: var(--space-55);
  box-shadow: 0 1.125em 1em -1em var(--color-grey);
}

.main-botton:hover {
  box-shadow: none;
  scale: 1.05;
  transition: all 0.35s ease-in-out;
}

.main-botton a {
  position: relative;
  z-index: 2;
  color: var(--color-grey);
  text-decoration: none;
}

@media screen and(max-width: 47em) {
  .hero-heading {
    font-size: var(--font-size-36);
  }

  .hero-description {
    font-size: var(--font-size-28);
  }
}

.second-page {
  background-color: var(--color-off-white);
  padding-block: 5rem;
}

.second-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: var(--space-80);
}

.second-page-content {
  color: #fff;
  display: grid;
  gap: var(--space-80);
  margin-left: var(--space-80);
}

@media (min-width: 70em) {
  .second-page-content {
    grid-auto-columns: 1fr;
  }
}

.second-page h1 {
  color: var(--color-orange-brown);
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-bold);
  background-size: 100%;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  word-spacing: 10px;
  letter-spacing: 10px;
}

.second-page-content p {
  font-size: var(--font-size-20);
  color: var(--color-grey);
  font-weight: var(--font-weight-bold);
}
.second-page-content span {
  display: block;
  font-size: var(--font-size-16);
  color: var(--color-grey);
  font-weight: var(--font-weight-light);
  width: 80%;
  margin-top: var(--space-30);
}

.travel-img-container {
  margin-left: var(--space-80);
  margin-top: var(--space-30);
}
.travel-img-card img {
  max-width: 50%;
  border-radius: var(--space-10);
}

.travel-img-card {
  border-radius: 4px;
}

.travel-img-card .image2 {
  margin-left: var(--space-200);
  margin-top: -3rem;
}
.travel-img-card .image3 {
  margin-top: -5rem;
  margin-left: var(--space-15);
}

@media (max-width: 70em) {
  .second-page {
    padding-block: 5rem;
  }
  .second-page-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: var(--space-42);
    justify-content: center;
    margin: var(--space-30);
    align-items: center;
    text-align: center;
  }
  .second-page-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: var(--space-30);
    width: 100%;
  }
  .second-page-content p {
    font-size: var(--font-size-20);
    color: var(--color-grey);
    font-weight: var(--font-weight-bold);
    text-align: center;
    width: 100%;
  }

  .second-page-content span {
    display: block;
    font-size: var(--font-size-16);
    color: var(--color-grey);
    font-weight: var(--font-weight-light);
    width: 100%;
    margin-top: var(--space-15);
    margin-left: auto;
    margin-right: auto;
  }

  .travel-img-container {
    margin: 0;
  }

  .travel-img-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .travel-img-card img {
    max-width: 90%;
    border-radius: var(--space-10);
    margin-left: auto;
    margin-right: auto;
    margin-block: var(--space-30);
  }

  .travel-img-card .image1 {
    border-radius: var(--space-10);
    margin-block: var(--space-10);
    margin-left: auto;
    margin-right: auto;
  }

  .travel-img-card .image2 {
    border-radius: var(--space-10);
    margin-left: auto;
    margin-right: auto;
    margin-block: var(--space-10);
  }
  .travel-img-card .image3 {
    border-radius: var(--space-10);
    margin-left: auto;
    margin-right: auto;
    margin-block: var(--space-10);
  }
  .second-page-content .main-botton {
    margin-top: 0;
  }
}

.third-page {
  background: linear-gradient(rgba(67, 67, 71, 0.5), rgba(28, 28, 30, 0.6)),
    url(images/3rd-page-image.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 150px;
}

.locations-card {
  margin: 35px;
  height: 300px;
  width: 240px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-grey);
  background-color: var(--color-white);
}
.locations-card img {
  max-width: var(--space-55);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
.locations-card h3 {
  text-align: center;
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-bold);
}
.locations-card p {
  text-align: center;
  margin-top: 24px;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-medium);
}

@media screen and (max-width: 70em) {
  .third-page-wrapper {
    grid-template-columns: 1fr 1fr;
    scale: 1.5;
    padding: 2rem;
  }
}

@media screen and (max-width: 47em) {
  .third-page-wrapper {
    grid-template-columns: 1fr;
    scale: 1.25;
    padding: 2.8rem 2rem;
  }
}

.fourth-page {
  background-color: var(--color-off-white);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fourth-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 50px;
  column-gap: 4.3rem;
}

.fourth-page-card {
  margin-inline: auto;
  height: 520px;
  width: 340px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-grey);
  background-color: var(--color-white);
  box-shadow: 0 1em 0.5em -0.8em var(--color-grey);
}
.fourth-page h1 {
  color: var(--color-orange-brown);
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  word-spacing: 10px;
  letter-spacing: 10px;
}

.fourth-page-card img {
  max-width: 100%;
}

.fourth-page-card h3 {
  margin-top: var(--space-30);
  text-align: center;
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-medium);
}

.fourth-page-card p {
  text-align: center;
  margin-top: var(--space-10);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100%;
  line-height: 2rem;
}

.fourth-page button {
  font-size: var(--font-size-20);
  font-weight: var(--font-weigth-medium);
  border: none;
  border-radius: var(--space-50);
  background-color: var(--color-white);
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  width: var(--space-270);
  height: var(--space-55);
  box-shadow: 0 1.125em 1em -1em var(--color-grey);
  justify-content: center;
}

.fourth-page-botton:hover {
  box-shadow: none;
  scale: 1.05;
  transition: all 0.35s ease-in-out;
}

.fourth-page-botton a {
  position: relative;
  z-index: 2;
  color: var(--color-grey);
  text-decoration: none;
}

.fourth-page-botton-wrapper {
  margin-inline: 8%;
}

@media screen and (max-width: 70em) {
  .fourth-page-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .fourth-page-card {
    margin: 45px;
  }
}
@media screen and (max-width: 47em) {
  .fourth-page-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.fifth-page {
  background: linear-gradient(rgba(67, 67, 71, 0.5), rgba(28, 28, 30, 0.6)),
    url(images/fifth-page.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--space-55);
}

.fifth-page-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
}

.fifth-page-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  margin-block: 0;
  height: var(--space-300);
  margin-top: var(--space-100);
}

.fifth-page h1 {
  color: var(--color-white);
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  word-spacing: 10px;
  letter-spacing: 10px;
}

.image {
  max-width: 10%;
  border-radius: 50%;
  transform: translate(310px, 200px);
  z-index: 50;
}

.rect {
  max-width: 90%;
  margin-inline: auto;
  opacity: 0.8;
  margin-block: 0;
}

.fifth-page-card h3 {
  margin-top: var(--space-30);
  text-align: center;
  font-size: var(--font-size-28);
  font-weight: var(--font-weight-medium);
  color: var(--color-grey);
  transform: translate(-80px, -270px);
}

.fifth-page-card p {
  text-align: center;
  margin-top: var(--space-10);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-light);
  margin-left: auto;
  margin-right: auto;
  color: var(--color-grey);
  max-width: 45%;
  transform: translate(100px, -270px);
}

.fifth-page-botton {
  font-size: var(--font-size-20);
  font-weight: var(--font-weigth-medium);
  border: none;
  border-radius: var(--space-50);
  background-color: var(--color-white);
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  width: var(--space-270);
  height: var(--space-55);
  box-shadow: 0 1.125em 1em -1em var(--color-grey);
  margin-bottom: 5rem;
}
.fifth-page-botton-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.fifth-page-botton:hover {
  box-shadow: none;
  scale: 1.05;
  transition: all 0.35s ease-in-out;
}

.fifth-page-botton a {
  position: relative;
  z-index: 2;
  color: var(--color-grey);
  text-decoration: none;
}

@media screen and (max-width: 80em) {
  .fifth-page-wrapper {
    width: 800px;
    margin-top: 50px;
  }

  .fifth-page-card {
    height: 8rem;
  }

  .fifth-page-card p {
    font-size: 10px;
    max-width: 60%;
    transform: translate(50px, -180px);
  }
  .fifth-page-card h3 {
    font-size: 20px;
    transform: translate(-80px, -180px);
  }
  .rect {
    max-width: 90%;
  }
  .image {
    transform: translate(115px, 130px);
    max-width: 10%;
  }
  .fifth-page-botton-wrapper {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 50em) {
  .fifth-page-wrapper {
    scale: 0.7;
    margin-top: -3.125rem;
  }

  .fifth-page h1 {
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-semi-bold);
  }
  .fifth-page-botton-wrapper {
    margin-bottom: -2rem;
  }
}

.form {
  padding: 5rem 5rem;
  background-color: var(--color-orange-brown);
  left: -50px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--color-orange-brown);
  background-image: url(images/form-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.form-wrapper form {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 80em) {
  .field-wrapper {
    width: 100%;
    margin: 0;
    background: white;
    display: flex;
    align-items: center;
    left: -100px;
  }
}

.field-wrapper {
  display: flex;
  position: relative;
  width: 800px;
  background: url(images/Rectangle\ 16.png);
  background-size: 800px;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  flex-direction: column;
  margin-right: 415px;
  opacity: 0.8;
}
.field-wrapper h1 {
  color: var(--color-orange-brown);
  font-size: var(--font-size-36);
  font-weight: var(--font-weight-bold);
  background-size: 100%;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  word-spacing: 10px;
  letter-spacing: 10px;
  margin: 20px;
}

.field input::placeholder {
  color: var(--color-grey);
}

.field-set input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 50%;
  outline: none;
  color: var(--color-grey);
  margin-left: 1.875rem;
}
.field-set label {
  border: none;
}
.field-set label {
  color: var(--color-grey);
  margin-left: 30px;
  font-size: var(--font-size-20);
}

.field input {
  margin-left: 30px;
  min-width: 380px;
  height: 50px;
  border: none;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-orange-brown);
  padding: 12px;
}

.form-botton {
  font-size: var(--font-size-20);
  font-weight: var(--font-weigth-medium);
  border: none;
  border-radius: var(--space-50);
  background-color: var(--color-orange-brown);
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  width: var(--space-270);
  height: var(--space-55);
  box-shadow: 0 1.125em 1em -1em var(--color-grey);
  margin-left: 3%;
}

.form-botton:hover {
  box-shadow: none;
  scale: 1.05;
  transition: all 0.35s ease-in-out;
}

.form-botton a {
  z-index: 2;
  color: var(--color-white);
}

.radio-group {
  padding-top: 4rem;
  display: flex;
}
@media screen and (max-width: 60em) {
  .field-wrapper {
    left: -220px;
  }
  .field-wrapper h1 {
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 1.25rem;
  }
  .field-set label {
    color: var(--color-grey);
    margin-left: 20px;
    font-size: var(--font-size-16);
  }
  .field input {
    margin-top: 30px;
    margin-left: 10px;
    min-width: 300px;
    height: 40px;
    padding: 10px;
  }
  .form-botton {
    scale: 0.8;
  }
}

.footer {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
}

.footer-logo {
  margin-inline: auto;
  align-items: center;
  margin-top: 4rem;
  width: 6rem;
}

.footer-items {
  display: flex;
  align-items: center;
  gap: var(--space-150);
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.footer-links {
  color: var(--color-white);
  font-size: var(--font-size-16);
  display: flex;
}
.footer-links:hover {
  color: var(--color-grey);
  transition: all 0.3s ease;
}

@media screen and (max-width: 65em) {
  .footer-items {
    flex-direction: column;
    gap: 20px;
  }
  .footer-logo {
    margin-bottom: 30px;
  }

  .footer {
    height: 100%;
  }
}
.radio-group fieldset{
  border: none;
}
